.mediaViewInfo {
	--web-view-name: 005;
	--web-view-id: ID005;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ID005;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#ID005 {
	position: absolute;
	width: 1366px;
	height: 4895px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 005;
	--web-view-id: ID005;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#ID005_web {
	position: absolute;
	width: 1721px;
	height: 5170px;
	left: -211px;
	top: -275px;
	overflow: visible;
}
# {
	position: absolute;
	width: 1366px;
	height: 4895px;
	left: 212px;
	top: 275px;
	overflow: visible;
}
#topjpg {
	position: absolute;
	width: 1721px;
	height: 5170px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_2 {
	position: absolute;
	width: 1366px;
	height: 4864px;
	left: 212px;
	top: 275px;
	overflow: visible;
}
#OP {
	position: absolute;
	width: 1721px;
	height: 1179px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ID24916923 {
	position: absolute;
	width: 1721px;
	height: 1179px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_1__6 {
	position: absolute;
	width: 1366px;
	height: 769px;
	left: 212px;
	top: 275px;
	overflow: visible;
}
#ABC {
	display: none;
	left: 434.784px;
	top: 448.783px;
	position: absolute;
	overflow: visible;
	width: 562px;
	white-space: nowrap;
	line-height: 491.760009765625px;
	margin-top: -40.980010986328125px;
	text-align: left;
	font-family: Logisoso;
	font-style: normal;
	font-weight: normal;
	font-size: 409.79998779296875px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#PREMIUM_CAR_SALE {
	display: none;
	left: 1011.182px;
	top: 503.728px;
	position: absolute;
	overflow: visible;
	width: 315px;
	white-space: nowrap;
	line-height: 110.98750305175781px;
	margin-top: -12.806251525878906px;
	text-align: left;
	font-family: Logisoso;
	font-style: normal;
	font-weight: normal;
	font-size: 85.375px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.2px;
}
#_1 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._1 {
	overflow: visible;
	position: absolute;
	width: 10.12px;
	height: 55.676px;
	left: 1522.506px;
	top: 946.109px;
	transform: matrix(1,0,0,1,0,0);
}
#SCROLL {
	left: 1499.989px;
	top: 918.941px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 14.343001365661621px;
	margin-top: -1.1952505111694336px;
	text-align: left;
	font-family: Logisoso;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952500343322754px;
	color: rgba(255,255,255,1);
	letter-spacing: 2.1px;
}
#_1_r {
	fill: rgba(178,44,39,1);
}
._1_r {
	position: absolute;
	overflow: visible;
	width: 51.22px;
	height: 51.22px;
	left: 271.76px;
	top: 309.16px;
}
#_6_t {
	fill: url(#_6_t);
}
._6_t {
	position: absolute;
	overflow: visible;
	width: 20.49px;
	height: 1.71px;
	left: 287.13px;
	top: 327.08px;
}
#_6__v {
	fill: url(#_6__v);
}
._6__v {
	position: absolute;
	overflow: visible;
	width: 20.49px;
	height: 1.71px;
	left: 287.13px;
	top: 333.91px;
}
#_6__2_x {
	fill: url(#_6__2_x);
}
._6__2_x {
	position: absolute;
	overflow: visible;
	width: 20.49px;
	height: 1.71px;
	left: 287.13px;
	top: 340.74px;
}
#_y {
	left: 453.564px;
	top: 445.251px;
	position: absolute;
	overflow: visible;
	width: 308px;
	white-space: nowrap;
	line-height: 24.588001251220703px;
	margin-top: -2.0490007400512695px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20.489999771118164px;
	color: rgba(255,255,255,1);
}
#ID00000000___ {
	left: 556.014px;
	top: 953.303px;
	position: absolute;
	overflow: visible;
	width: 525px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
	text-decoration: underline;
}
#_10 {
	fill: rgba(178,44,39,1);
}
._10 {
	overflow: visible;
	position: absolute;
	width: 85.388px;
	height: 23.054px;
	left: 453.685px;
	top: 949.524px;
	transform: matrix(1,0,0,1,0,0);
}
#NEWS {
	left: 478.415px;
	top: 953.014px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.6px;
}
#ABOUT {
	position: absolute;
	width: 1366px;
	height: 725.75px;
	left: 212px;
	top: 1922.89px;
	overflow: visible;
}
#_1_ {
	fill: rgba(229,55,50,1);
}
._1_ {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 593.41px;
	left: 0px;
	top: 132.34px;
}
#_7_ {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._7_ {
	position: absolute;
	overflow: visible;
	width: 226.24px;
	height: 34.15px;
	left: 204.9px;
	top: 617.32px;
}
#_3_ {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._3_ {
	overflow: visible;
	position: absolute;
	width: 4.528px;
	height: 7.848px;
	left: 410.654px;
	top: 630.771px;
	transform: matrix(1,0,0,1,0,0);
}
#_ {
	left: 204.5px;
	top: 315.064px;
	position: absolute;
	overflow: visible;
	width: 318px;
	white-space: nowrap;
	line-height: 32.784000396728516px;
	margin-top: -2.7320003509521484px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 27.31999969482422px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_ba {
	left: 204.5px;
	top: 532.45px;
	position: absolute;
	overflow: visible;
	width: 957.6px;
	height: 72.80740356445312px;
	line-height: 30.052000045776367px;
	margin-top: -8.196000099182129px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_bb {
	left: 221.575px;
	top: 625.518px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	line-height: 30.052000045776367px;
	margin-top: -8.196000099182129px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_4__10 {
	position: absolute;
	width: 683px;
	height: 478.14px;
	left: 683px;
	top: 0px;
	overflow: visible;
}
#_4__10_ba {
	fill: rgba(170,170,170,1);
}
._4__10_ba {
	position: absolute;
	overflow: visible;
	width: 683px;
	height: 478.14px;
	left: 0px;
	top: 0px;
}
#Clip {
	position: absolute;
	width: 683px;
	height: 478.14px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_bc {
	left: 217.438px;
	top: 66.86px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_5 {
	fill: rgba(229,55,50,1);
}
._5 {
	position: absolute;
	overflow: visible;
	width: 6.83px;
	height: 1.71px;
	left: 204.9px;
	top: 75.14px;
}
#ABOUT_be {
	left: 205.286px;
	top: 92.908px;
	position: absolute;
	overflow: visible;
	width: 212px;
	white-space: nowrap;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 68.30000305175781px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.6px;
}
#MV {
	position: absolute;
	width: 1368.56px;
	height: 751.37px;
	left: 209.44px;
	top: 1043.45px;
	overflow: visible;
}
#_2_bg {
	position: absolute;
	width: 1368.56px;
	height: 683.06px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_2_bi {
	fill: url(#_2_bi);
}
._2_bi {
	position: absolute;
	overflow: visible;
	width: 1368.56px;
	height: 683.06px;
	left: 0px;
	top: 0px;
}
#Clip_bj {
	position: absolute;
	width: 1368.56px;
	height: 683.06px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#TYPE01 {
	left: 264.948px;
	top: 470.808px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	line-height: 24.588001251220703px;
	margin-top: -2.0490007400512695px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 20.489999771118164px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.6px;
}
#LOGO {
	left: 136.785px;
	top: 36.947px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	line-height: 57.372005462646484px;
	margin-top: -4.781002044677734px;
	text-align: left;
	font-family: Logisoso;
	font-style: normal;
	font-weight: normal;
	font-size: 47.810001373291016px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#ABCDEFG {
	left: 264.948px;
	top: 497.091px;
	position: absolute;
	overflow: visible;
	width: 266px;
	white-space: nowrap;
	line-height: 81.95999908447266px;
	margin-top: -6.829998016357422px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 68.30000305175781px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
#ID0000000 {
	left: 957.34px;
	top: 519.676px;
	position: absolute;
	overflow: visible;
	width: 214px;
	white-space: nowrap;
	line-height: 49.176002502441406px;
	margin-top: -4.098001480102539px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 40.97999954223633px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_bo {
	left: 924.106px;
	top: 492.872px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	line-height: 20.489999771118164px;
	margin-top: -1.7074995040893555px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_bp {
	left: 924.106px;
	top: 582.963px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_bq {
	left: 924.897px;
	top: 529.53px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	line-height: 40.97999954223633px;
	margin-top: -3.414999008178711px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 34.150001525878906px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_2_br {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._2_br {
	overflow: visible;
	position: absolute;
	width: 19.016px;
	height: 36.828px;
	left: 55.664px;
	top: 323.415px;
	transform: matrix(1,0,0,1,0,0);
}
#_2_ {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._2_ {
	overflow: visible;
	position: absolute;
	width: 18.993px;
	height: 36.63px;
	left: 1297.692px;
	top: 323.941px;
	transform: matrix(1,0,0,1,0,0);
}
#_3 {
	fill: rgba(229,55,50,1);
}
._3 {
	overflow: visible;
	position: absolute;
	width: 46.111px;
	height: 91.36px;
	left: 207.456px;
	top: 474.724px;
	transform: matrix(1,0,0,1,0,0);
}
#_7 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._7 {
	position: absolute;
	overflow: visible;
	width: 226.24px;
	height: 34.15px;
	left: 207.46px;
	top: 591.7px;
}
#_bv {
	left: 223.629px;
	top: 601.261px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
}
#_3_bw {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._3_bw {
	overflow: visible;
	position: absolute;
	width: 4.528px;
	height: 7.849px;
	left: 413.214px;
	top: 605.153px;
	transform: matrix(1,0,0,1,0,0);
}
#_1__bx {
	fill: rgba(178,44,39,1);
}
._1__bx {
	filter: drop-shadow(0px 1px 3px rgba(104, 11, 2, 0.529));
	position: absolute;
	overflow: visible;
	width: 60.22px;
	height: 60.22px;
	left: 62.32px;
	top: 34.15px;
}
#_6__3_bz {
	fill: url(#_6__3_bz);
}
._6__3_bz {
	position: absolute;
	overflow: visible;
	width: 20.49px;
	height: 1.71px;
	left: 77.69px;
	top: 52.08px;
}
#_6__3_ca {
	fill: url(#_6__3_ca);
}
._6__3_ca {
	position: absolute;
	overflow: visible;
	width: 20.49px;
	height: 1.71px;
	left: 77.69px;
	top: 58.91px;
}
#_6__3_cc {
	fill: url(#_6__3_cc);
}
._6__3_cc {
	position: absolute;
	overflow: visible;
	width: 20.49px;
	height: 1.71px;
	left: 77.69px;
	top: 65.74px;
}
#_1__2 {
	fill: rgba(0,0,0,1);
}
._1__2 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 68.31px;
	left: 2.56px;
	top: 683.06px;
}
#_1__3 {
	fill: rgba(229,55,50,1);
}
._1__3 {
	position: absolute;
	overflow: visible;
	width: 455.05px;
	height: 3.42px;
	left: 2.56px;
	top: 683.06px;
}
#_1__4 {
	fill: rgba(51,51,51,1);
}
._1__4 {
	position: absolute;
	overflow: visible;
	width: 454.2px;
	height: 3.42px;
	left: 458.46px;
	top: 683.06px;
}
#_1__5 {
	fill: rgba(51,51,51,1);
}
._1__5 {
	position: absolute;
	overflow: visible;
	width: 455.05px;
	height: 3.42px;
	left: 913.51px;
	top: 683.06px;
}
#TYPE01_b {
	left: 161.645px;
	top: 711.757px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.6px;
}
#ABCDEFG_b {
	left: 223.115px;
	top: 707.319px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	line-height: 24.588001251220703px;
	margin-top: -2.0490007400512695px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 20.489999771118164px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#TYPE02 {
	opacity: 0.4;
	left: 616.693px;
	top: 711.757px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.6px;
}
#HIJKLMN {
	opacity: 0.4;
	left: 678.163px;
	top: 707.319px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 24.588001251220703px;
	margin-top: -2.0490007400512695px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 20.489999771118164px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#TYPE03 {
	opacity: 0.4;
	left: 976.976px;
	top: 711.757px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.6px;
}
#OPQRSTU {
	opacity: 0.4;
	left: 1038.446px;
	top: 707.319px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 24.588001251220703px;
	margin-top: -2.0490007400512695px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 20.489999771118164px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#CASE {
	position: absolute;
	width: 1641.76px;
	height: 631.571px;
	left: 72.84px;
	top: 2774.419px;
	overflow: visible;
}
#_4__7 {
	position: absolute;
	width: 409.8px;
	height: 307.38px;
	left: 410.65px;
	top: 223.441px;
	overflow: visible;
}
#_4__7_cg {
	fill: rgba(170,170,170,1);
}
._4__7_cg {
	position: absolute;
	overflow: visible;
	width: 409.8px;
	height: 307.38px;
	left: 0px;
	top: 0px;
}
#Clip_ch {
	position: absolute;
	width: 409.8px;
	height: 307.38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_4__9 {
	position: absolute;
	width: 409.8px;
	height: 307.38px;
	left: 1231.96px;
	top: 223.441px;
	overflow: visible;
}
#_4__9_cj {
	fill: rgba(170,170,170,1);
}
._4__9_cj {
	position: absolute;
	overflow: visible;
	width: 409.8px;
	height: 307.38px;
	left: 0px;
	top: 0px;
}
#Clip_ck {
	position: absolute;
	width: 409.8px;
	height: 307.38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_4__13 {
	position: absolute;
	width: 409.8px;
	height: 307.38px;
	left: 0px;
	top: 223.441px;
	overflow: visible;
}
#_4__13_cm {
	fill: rgba(170,170,170,1);
}
._4__13_cm {
	position: absolute;
	overflow: visible;
	width: 409.8px;
	height: 307.38px;
	left: 0px;
	top: 0px;
}
#Clip_cn {
	position: absolute;
	width: 409.8px;
	height: 307.38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_4__8 {
	position: absolute;
	width: 409.8px;
	height: 307.38px;
	left: 821.31px;
	top: 223.441px;
	overflow: visible;
}
#_4__8_cp {
	fill: rgba(170,170,170,1);
}
._4__8_cp {
	position: absolute;
	overflow: visible;
	width: 409.8px;
	height: 307.38px;
	left: 0px;
	top: 0px;
}
#Clip_cq {
	position: absolute;
	width: 409.8px;
	height: 307.38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_4__12 {
	fill: rgba(68,68,68,1);
}
._4__12 {
	position: absolute;
	overflow: visible;
	width: 409.8px;
	height: 0.85px;
	left: 410.65px;
	top: 630.721px;
}
#_4__12_cs {
	fill: rgba(68,68,68,1);
}
._4__12_cs {
	position: absolute;
	overflow: visible;
	width: 409.8px;
	height: 0.85px;
	left: 1231.96px;
	top: 630.721px;
}
#_4__14 {
	fill: rgba(68,68,68,1);
}
._4__14 {
	position: absolute;
	overflow: visible;
	width: 409.8px;
	height: 0.85px;
	left: 0px;
	top: 630.721px;
}
#_4__12_cu {
	fill: rgba(68,68,68,1);
}
._4__12_cu {
	position: absolute;
	overflow: visible;
	width: 409.8px;
	height: 0.85px;
	left: 821.31px;
	top: 630.721px;
}
#_cv {
	left: 356.598px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_5_ {
	fill: rgba(229,55,50,1);
}
._5_ {
	position: absolute;
	overflow: visible;
	width: 6.83px;
	height: 1.71px;
	left: 344.06px;
	top: 8.271px;
}
#CASE_cx {
	left: 344.446px;
	top: 26.048px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 68.30000305175781px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.6px;
}
#ABCDEFG_cy {
	left: 429.722px;
	top: 552.517px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	line-height: 24.588001251220703px;
	margin-top: -2.0490007400512695px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 20.489999771118164px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_8_ {
	fill: rgba(229,55,50,1);
}
._8_ {
	overflow: visible;
	position: absolute;
	width: 11.337px;
	height: 17.076px;
	left: 410.96px;
	top: 556.434px;
	transform: matrix(1,0,0,1,0,0);
}
#_Y_c {
	left: 411.43px;
	top: 587.323px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	line-height: 20.489999771118164px;
	margin-top: -1.7074995040893555px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#HIJKLMN_c {
	left: 841.23px;
	top: 553.371px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 24.588001251220703px;
	margin-top: -2.0490007400512695px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 20.489999771118164px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_8__2 {
	fill: rgba(229,55,50,1);
}
._8__2 {
	overflow: visible;
	position: absolute;
	width: 11.337px;
	height: 17.077px;
	left: 822.467px;
	top: 557.288px;
	transform: matrix(1,0,0,1,0,0);
}
#_Y_da {
	left: 822.937px;
	top: 588.177px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	line-height: 20.489999771118164px;
	margin-top: -1.7074995040893555px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#OPQRSTU_c {
	left: 1251.03px;
	top: 552.517px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 24.588001251220703px;
	margin-top: -2.0490007400512695px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 20.489999771118164px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_8__3 {
	fill: rgba(229,55,50,1);
}
._8__3 {
	overflow: visible;
	position: absolute;
	width: 11.337px;
	height: 17.076px;
	left: 1232.268px;
	top: 556.434px;
	transform: matrix(1,0,0,1,0,0);
}
#_Y_db {
	left: 1232.737px;
	top: 587.323px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	line-height: 20.489999771118164px;
	margin-top: -1.7074995040893555px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#FAQ {
	position: absolute;
	width: 956.2px;
	height: 550.458px;
	left: 416.9px;
	top: 3533.472px;
	overflow: visible;
}
#_3__2 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._3__2 {
	overflow: visible;
	position: absolute;
	width: 4.528px;
	height: 7.849px;
	left: 918.635px;
	top: 262.51px;
	transform: matrix(1,0,0,1,0,0);
}
#_3__3 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._3__3 {
	overflow: visible;
	position: absolute;
	width: 4.528px;
	height: 7.848px;
	left: 918.635px;
	top: 324.84px;
	transform: matrix(1,0,0,1,0,0);
}
#_3__4 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._3__4 {
	overflow: visible;
	position: absolute;
	width: 4.528px;
	height: 7.849px;
	left: 918.635px;
	top: 388.023px;
	transform: matrix(1,0,0,1,0,0);
}
#_3__5 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._3__5 {
	overflow: visible;
	position: absolute;
	width: 4.528px;
	height: 7.848px;
	left: 918.635px;
	top: 451.206px;
	transform: matrix(1,0,0,1,0,0);
}
#_3__6 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._3__6 {
	overflow: visible;
	position: absolute;
	width: 4.528px;
	height: 7.849px;
	left: 918.635px;
	top: 514.389px;
	transform: matrix(1,0,0,1,0,0);
}
#_dd {
	left: 90.951px;
	top: 256.403px;
	position: absolute;
	overflow: visible;
	width: 435px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_4_ {
	fill: rgba(68,68,68,1);
}
._4_ {
	position: absolute;
	overflow: visible;
	width: 956.2px;
	height: 0.85px;
	left: 0px;
	top: 296.868px;
}
#_4__11 {
	fill: rgba(68,68,68,1);
}
._4__11 {
	position: absolute;
	overflow: visible;
	width: 956.2px;
	height: 0.85px;
	left: 0px;
	top: 233.688px;
}
#_dg {
	left: 90.951px;
	top: 319.586px;
	position: absolute;
	overflow: visible;
	width: 435px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_4__2 {
	fill: rgba(68,68,68,1);
}
._4__2 {
	position: absolute;
	overflow: visible;
	width: 956.2px;
	height: 0.85px;
	left: 0px;
	top: 360.058px;
}
#_di {
	left: 90.951px;
	top: 382.769px;
	position: absolute;
	overflow: visible;
	width: 435px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_4__3 {
	fill: rgba(68,68,68,1);
}
._4__3 {
	position: absolute;
	overflow: visible;
	width: 956.2px;
	height: 0.85px;
	left: 0px;
	top: 423.238px;
}
#_dk {
	left: 90.951px;
	top: 445.952px;
	position: absolute;
	overflow: visible;
	width: 435px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_4__3_dl {
	fill: rgba(68,68,68,1);
}
._4__3_dl {
	position: absolute;
	overflow: visible;
	width: 956.2px;
	height: 0.85px;
	left: 0px;
	top: 486.418px;
}
#_dm {
	left: 90.951px;
	top: 509.136px;
	position: absolute;
	overflow: visible;
	width: 435px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_4__4 {
	fill: rgba(68,68,68,1);
}
._4__4 {
	position: absolute;
	overflow: visible;
	width: 956.2px;
	height: 0.85px;
	left: 0px;
	top: 549.608px;
}
#_do {
	left: 12.538px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_5__3 {
	fill: rgba(229,55,50,1);
}
._5__3 {
	position: absolute;
	overflow: visible;
	width: 6.83px;
	height: 1.71px;
	left: 0px;
	top: 8.278px;
}
#FAQ_dq {
	left: 0.386px;
	top: 26.049px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 68.30000305175781px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.6px;
}
#_9 {
	fill: rgba(229,55,50,1);
}
._9 {
	position: absolute;
	overflow: visible;
	width: 34.15px;
	height: 34.15px;
	left: 32.44px;
	top: 249.058px;
}
#Q {
	left: 44.01px;
	top: 251.964px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	line-height: 24.588001251220703px;
	margin-top: -2.0490007400512695px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 20.489999771118164px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_9_ {
	fill: rgba(229,55,50,1);
}
._9_ {
	position: absolute;
	overflow: visible;
	width: 34.15px;
	height: 34.15px;
	left: 32.44px;
	top: 311.388px;
}
#Q_du {
	left: 44.01px;
	top: 314.293px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	line-height: 24.588001251220703px;
	margin-top: -2.0490007400512695px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 20.489999771118164px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_9__2 {
	fill: rgba(229,55,50,1);
}
._9__2 {
	position: absolute;
	overflow: visible;
	width: 34.15px;
	height: 34.15px;
	left: 32.44px;
	top: 374.568px;
}
#Q_dw {
	left: 44.01px;
	top: 377.476px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	line-height: 24.588001251220703px;
	margin-top: -2.0490007400512695px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 20.489999771118164px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_9__3 {
	fill: rgba(229,55,50,1);
}
._9__3 {
	position: absolute;
	overflow: visible;
	width: 34.15px;
	height: 34.15px;
	left: 32.44px;
	top: 437.748px;
}
#Q_dy {
	left: 44.01px;
	top: 440.66px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	line-height: 24.588001251220703px;
	margin-top: -2.0490007400512695px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 20.489999771118164px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_9__4 {
	fill: rgba(229,55,50,1);
}
._9__4 {
	position: absolute;
	overflow: visible;
	width: 34.15px;
	height: 34.15px;
	left: 32.44px;
	top: 500.938px;
}
#Q_d {
	left: 44.01px;
	top: 503.843px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	line-height: 24.588001251220703px;
	margin-top: -2.0490007400512695px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 20.489999771118164px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#MAP {
	position: absolute;
	width: 1366px;
	height: 596.176px;
	left: 212px;
	top: 4254px;
	overflow: visible;
}
#ID000-0000_ {
	left: 204.9px;
	top: 562.176px;
	position: absolute;
	overflow: visible;
	width: 561px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
}
#_5_d {
	position: absolute;
	width: 1366px;
	height: 515px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_5_ea {
	position: absolute;
	width: 1366px;
	height: 515px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Clip_d {
	position: absolute;
	width: 1366px;
	height: 515px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_3_d {
	fill: rgba(229,55,50,1);
}
._3_d {
	overflow: visible;
	position: absolute;
	width: 23.904px;
	height: 33.299px;
	left: 671.047px;
	top: 224.398px;
	transform: matrix(1,0,0,1,0,0);
}
#FOOTER {
	position: absolute;
	width: 1366px;
	height: 264.69px;
	left: 212px;
	top: 4905.31px;
	overflow: visible;
}
#_d {
	fill: rgba(229,55,50,1);
}
._d {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 51.23px;
	left: 0px;
	top: 213.46px;
}
#__d {
	fill: rgba(51,51,51,1);
}
.__d {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 136.61px;
	left: 0px;
	top: 0px;
}
#COMPANY {
	left: 204.43px;
	top: 169.006px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	line-height: 14.343001365661621px;
	margin-top: -1.1952505111694336px;
	text-align: left;
	font-family: RobotoCondensed-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952500343322754px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#ID0000_SAMPLE_Inc_All_Rights_R {
	left: 941.216px;
	top: 169.006px;
	position: absolute;
	overflow: visible;
	width: 221px;
	white-space: nowrap;
	line-height: 14.343001365661621px;
	margin-top: -1.1952505111694336px;
	text-align: left;
	font-family: RobotoCondensed-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952500343322754px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#PRIVACY_POLICY {
	left: 293.22px;
	top: 169.006px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 14.343001365661621px;
	margin-top: -1.1952505111694336px;
	text-align: left;
	font-family: RobotoCondensed-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952500343322754px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#SITEMAP {
	left: 417.014px;
	top: 169.006px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	line-height: 14.343001365661621px;
	margin-top: -1.1952505111694336px;
	text-align: left;
	font-family: RobotoCondensed-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952500343322754px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
#_ee {
	left: 203.398px;
	top: 228.254px;
	position: absolute;
	overflow: visible;
	width: 256px;
	white-space: nowrap;
	line-height: 21.514501571655273px;
	margin-top: -1.7928762435913086px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 17.928749084472656px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
#ID00-0000-0000 {
	left: 460.019px;
	top: 227.108px;
	position: absolute;
	overflow: visible;
	width: 159px;
	white-space: nowrap;
	line-height: 32.784000396728516px;
	margin-top: -6.147000312805176px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20.489999771118164px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
#ID00000000 {
	left: 632.248px;
	top: 230.547px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
}
#_11 {
	fill: rgba(178,44,39,1);
}
._11 {
	position: absolute;
	overflow: visible;
	width: 179.29px;
	height: 51.23px;
	left: 981.81px;
	top: 213.46px;
}
#_11_ {
	fill: rgba(178,44,39,1);
}
._11_ {
	position: absolute;
	overflow: visible;
	width: 102.45px;
	height: 51.23px;
	left: 878.51px;
	top: 213.46px;
}
#_3__7 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._3__7 {
	overflow: visible;
	position: absolute;
	width: 4.528px;
	height: 7.849px;
	left: 998.888px;
	top: 235.452px;
	transform: matrix(1,0,0,1,0,0);
}
#_3__8 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._3__8 {
	overflow: visible;
	position: absolute;
	width: 4.528px;
	height: 7.849px;
	left: 895.584px;
	top: 235.452px;
	transform: matrix(1,0,0,1,0,0);
}
#_el {
	left: 906.358px;
	top: 229.437px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
}
#_em {
	left: 1010.515px;
	top: 230.29px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
}
#_4 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._4 {
	overflow: visible;
	position: absolute;
	width: 17.507px;
	height: 9.358px;
	left: 1322.545px;
	top: 234.891px;
	transform: matrix(1,0,0,1,0,0);
}
#_13 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._13 {
	position: absolute;
	overflow: visible;
	width: 18.78px;
	height: 0.85px;
	left: 1321.6px;
	top: 232.24px;
}
#bnr_shindan {
	position: absolute;
	width: 204.9px;
	height: 68.31px;
	left: 358.57px;
	top: 34.16px;
	overflow: visible;
}
#BG {
	position: absolute;
	width: 204.9px;
	height: 68.31px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bnr_pcl {
	position: absolute;
	width: 648.85px;
	height: 68.31px;
	left: 358.57px;
	top: 34.16px;
	overflow: visible;
}
#_es {
	position: absolute;
	width: 648.85px;
	height: 68.31px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_12 {
	fill: rgba(180,180,180,1);
}
._12 {
	position: absolute;
	overflow: visible;
	width: 204.9px;
	height: 68.31px;
	left: 0px;
	top: 0px;
}
#_12_eu {
	fill: rgba(180,180,180,1);
}
._12_eu {
	position: absolute;
	overflow: visible;
	width: 204.9px;
	height: 68.31px;
	left: 221.98px;
	top: 0px;
}
#_12_ev {
	fill: rgba(180,180,180,1);
}
._12_ev {
	position: absolute;
	overflow: visible;
	width: 204.9px;
	height: 68.31px;
	left: 443.95px;
	top: 0px;
}
#_ew {
	left: 77.401px;
	top: 23.771px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(51,51,51,1);
}
#_ex {
	left: 299.376px;
	top: 23.771px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(51,51,51,1);
}
#_ey {
	left: 521.351px;
	top: 23.771px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(51,51,51,1);
}
#MENU {
	position: absolute;
	width: 1372.83px;
	height: 771.01px;
	left: 207.73px;
	top: 272.44px;
	display: none;
	overflow: visible;
}
#_14 {
	fill: rgba(178,44,39,1);
}
._14 {
	position: absolute;
	overflow: visible;
	width: 1372.83px;
	height: 771.01px;
	left: 0px;
	top: 0px;
}
#_1__2_e {
	fill: rgba(178,44,39,1);
}
._1__2_e {
	position: absolute;
	overflow: visible;
	width: 51.22px;
	height: 51.22px;
	left: 64.03px;
	top: 36.72px;
}
#_6__4_fb {
	fill: url(#_6__4_fb);
}
._6__4_fb {
	overflow: visible;
	position: absolute;
	width: 15.696px;
	height: 15.698px;
	left: 81.801px;
	top: 54.288px;
	transform: matrix(1,0,0,1,0,0);
}
#_6__4_fb {
	fill: url(#_6__4_fb);
}
._6__4_fb {
	overflow: visible;
	position: absolute;
	width: 15.696px;
	height: 15.698px;
	left: 81.801px;
	top: 54.288px;
	transform: matrix(1,0,0,1,0,0);
}
#_15 {
	fill: rgba(178,44,39,1);
	stroke: rgba(229,55,50,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._15 {
	position: absolute;
	overflow: visible;
	width: 342.57px;
	height: 256.15px;
	left: 3.42px;
	top: 122.1px;
}
#ABOUT_e {
	left: 125.231px;
	top: 215.165px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	line-height: 40.97999954223633px;
	margin-top: -3.414999008178711px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 34.150001525878906px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.1px;
}
#_e {
	left: 124.24px;
	top: 264.097px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: center;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.1px;
}
#_15_ {
	fill: rgba(178,44,39,1);
	stroke: rgba(229,55,50,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._15_ {
	position: absolute;
	overflow: visible;
	width: 342.57px;
	height: 256.15px;
	left: 345.13px;
	top: 122.1px;
}
#LINE_UP {
	left: 455.632px;
	top: 215.165px;
	position: absolute;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	line-height: 40.97999954223633px;
	margin-top: -3.414999008178711px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 34.150001525878906px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.1px;
}
#_fb {
	left: 470.886px;
	top: 264.097px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.1px;
}
#_15__2 {
	fill: rgba(178,44,39,1);
	stroke: rgba(229,55,50,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._15__2 {
	position: absolute;
	overflow: visible;
	width: 342.57px;
	height: 256.15px;
	left: 686.84px;
	top: 122.1px;
}
#CASE_fd {
	left: 821.037px;
	top: 215.165px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	line-height: 40.97999954223633px;
	margin-top: -3.414999008178711px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 34.150001525878906px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.1px;
}
#_fe {
	left: 828.607px;
	top: 264.097px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.1px;
}
#_15__2_ff {
	fill: rgba(178,44,39,1);
	stroke: rgba(229,55,50,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._15__2_ff {
	position: absolute;
	overflow: visible;
	width: 342.57px;
	height: 256.15px;
	left: 1028.56px;
	top: 122.1px;
}
#SIMULATION {
	left: 1105.336px;
	top: 215.165px;
	position: absolute;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	line-height: 40.97999954223633px;
	margin-top: -3.414999008178711px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 34.150001525878906px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.1px;
}
#_fh {
	left: 1124.858px;
	top: 264.097px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.1px;
}
#_15__3 {
	fill: rgba(178,44,39,1);
	stroke: rgba(229,55,50,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._15__3 {
	position: absolute;
	overflow: visible;
	width: 342.57px;
	height: 256.15px;
	left: 3.42px;
	top: 377.39px;
}
#SELL {
	left: 140.599px;
	top: 470.46px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	line-height: 40.97999954223633px;
	margin-top: -3.414999008178711px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 34.150001525878906px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.1px;
}
#_fk {
	left: 145.607px;
	top: 519.392px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.1px;
}
#_15__3_fl {
	fill: rgba(178,44,39,1);
	stroke: rgba(229,55,50,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._15__3_fl {
	position: absolute;
	overflow: visible;
	width: 342.57px;
	height: 256.15px;
	left: 345.13px;
	top: 377.39px;
}
#FAQ_fm {
	left: 488.929px;
	top: 470.46px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	line-height: 40.97999954223633px;
	margin-top: -3.414999008178711px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 34.150001525878906px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.1px;
}
#_fn {
	left: 470.886px;
	top: 519.392px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.1px;
}
#_15__3_fo {
	fill: rgba(178,44,39,1);
	stroke: rgba(229,55,50,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._15__3_fo {
	position: absolute;
	overflow: visible;
	width: 342.57px;
	height: 256.15px;
	left: 686.84px;
	top: 377.39px;
}
#ACCESS {
	left: 802.255px;
	top: 470.46px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	line-height: 40.97999954223633px;
	margin-top: -3.414999008178711px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 34.150001525878906px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.1px;
}
#_fq {
	left: 828.607px;
	top: 519.392px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.1px;
}
#_15__3_fr {
	fill: rgba(178,44,39,1);
	stroke: rgba(229,55,50,1);
	stroke-width: 0.8537499904632568px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._15__3_fr {
	position: absolute;
	overflow: visible;
	width: 342.57px;
	height: 256.15px;
	left: 1028.56px;
	top: 377.39px;
}
#CONTACT {
	left: 1131.802px;
	top: 470.46px;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	line-height: 40.97999954223633px;
	margin-top: -3.414999008178711px;
	text-align: left;
	font-family: FjallaOne-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 34.150001525878906px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.1px;
}
#_ft {
	left: 1170.107px;
	top: 519.392px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.1px;
}
#_fu {
	left: 707.935px;
	top: 51.195px;
	position: absolute;
	overflow: visible;
	width: 256px;
	white-space: nowrap;
	line-height: 21.514501571655273px;
	margin-top: -1.7928762435913086px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 17.928749084472656px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
#ID00-0000-0000_fv {
	left: 962.349px;
	top: 46.065px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	line-height: 32.784000396728516px;
	margin-top: -2.7320003509521484px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 27.31999969482422px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
#ID00000000_fw {
	left: 1189.041px;
	top: 53.821px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -0.5122499465942383px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 15.367500305175781px;
	color: rgba(255,255,255,1);
}
#COMPANY_fx {
	left: 70.009px;
	top: 690.261px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -0.5122499465942383px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 15.367500305175781px;
	color: rgba(255,255,255,1);
}
#NEWS_fy {
	left: 197.218px;
	top: 690.261px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -0.5122499465942383px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 15.367500305175781px;
	color: rgba(255,255,255,1);
}
#PRIVACY_POLICY_fz {
	left: 291.984px;
	top: 690.261px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -0.5122499465942383px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 15.367500305175781px;
	color: rgba(255,255,255,1);
}